.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
!.yarn/cache
#.pnp.*
.next/cache/webpack/client-development/1.pack
.next/cache/webpack/client-development/17.pack
.next/cache/webpack/client-development/index.pack
.next/cache/webpack/client-development/index.pack.old
